.vscode/
build/
build
doxygen
.clang_complete
.clang-format
*.pyc
newb
CMakeCache.txt
*.dir
CMakeFiles
*.ll
*.o
*.a
*.so
*.test

CMakeScripts

Testing

Makefile

cmake_install.cmake

install_manifest.txt

compile_commands.json

CTestTestfile.cmake
